/*
 Theme Name:   Precision GP Child
 Theme URI:    https://generatepress.com
 Description:  Default GeneratePress child theme
 Author:       Tom Usborne
 Author URI:   https://tomusborne.com
 Template:     generatepress
 Version:      0.1
*/
/* Set up page hero items for flex */
.page-hero {
	position: relative;
	margin-top: -60px;
}
.inside-page-hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 60px;
	right: 15vw;
}
.hero-title, .hero-subtitle {
	margin: 10px 0 0 0;
	font-size: 2.5vw;
	font-weight: 600;
	color: white;
	text-shadow: 2px 2px 0 black;
}
.hero-subtitle {
	font-size: 1.2vw;
}
.hero-button {
	margin: 20px 0 0 0;
	font-size: 18px;
	font-weight: 600;
	color: white;
	padding: 5px 10px 5px 10px;
	background-color: #2e3b7d;
	border-radius: 8px;
}
/* Format services offered block */
p.services-title {
	margin-bottom: 0;
	padding: 10px 10px 10px 10px;
}
ul.services-content {
	border: solid 1px black;
	padding-left: 40px;
	margin-left: 0;
}inl
.wp-block-column {
	margin-right: 15px;
}
.footer-widgets {
	text-align: center;
	background-color: black;
	color: white;
}
.site-footer .footer-widgets-container .inside-footer-widgets {
	margin-left: 100px;
}
/* Reduce spaceing between lines */
.footer-widgets .textwidget p {
		margin-bottom: 2px;
}
/* Text in widgets starting with id = text */
aside[id^="text"] h2.widget-title {
	color: white;
	font-weight: 600;
	margin-bottom: 10px;
}
aside[id^="wpgm"] h2.widget-title {
	color: white;
	font-weight: 600;
	margin-bottom: 10px;
}
/* Format 3 blocks at bottom of home page */
.home-bottom {
	background-color: black;
	color: white;
	border-bottom: 1px solid gray;
}
.home-bottom  .wp-block-column h2 {
	margin: 5px 20px 10px 20px;
	font-weight: 600;
}
.home-bottom  .wp-block-column p {
	margin: 5px 20px 10px 20px;
}
.wpcf7-form p {
	margin: 0;
	line-height: .75em;
}
/* Get rid of spacing around header 
.separate-containers .site-main {
	margin: 0;
} */
/* Get rid of default header */
#site-navigation {
	display: none;
}
/* Turn off default navbar */
/*
.menu-main {
	display: none;
}
a.toggle-nav {
	display: none;
}
*/
/* Space out navbar */

ul#menu-main {
	display: flex;
	justify-content: flex-end;
}
#menu-main li {
	padding-left: 30px;
}
/* Navbar text color */
#menu-main li a {
	color: white;
}
/* Use header widgets to construct new header */
.header-widget {
	display: grid;
	padding: 8px 15px;
	max-width: 100%;
	width: 1600px;
	grid-template-columns: 2fr 7fr 2fr 2fr 2fr;
	grid-template-rows: 60px;
	grid-template-areas:
	"logo logo-text . social phone"
	"logo navbar navbar navbar navbar";
}
/* Logo widget */
.header-widget aside:nth-child(1) {
	grid-area: logo;
	margin-right: 10px;
	z-index: 22;
}
/* Logo text */
.header-widget aside:nth-child(2) {
	grid-area: logo-text;
	width: 170px;
	margin: 20px 0 20px 20px;
}
/* Social icons widget */
.header-widget aside:nth-child(3) {
	grid-area: social;
	text-align: right;
	margin-right: 10px;
	color: white;
}
/* Phone widget */
.header-widget aside:nth-child(4) {
	grid-area: phone;
	margin-right: 10px;
	color: white;
}
/* Navbar widget */
.header-widget aside:nth-child(5) {
	grid-area: navbar;
	padding-right: 25px;
	text-align: right;
	color: white;
}
.header-widget .widget {
	margin-bottom: 0;
	padding-bottom: 0;
}
.header-widget p {
	margin-bottom: 0;
}
/* Adjusts position of menu on mobile */
/*
button.menu-toggle,
.mobile-bar-items {
	line-height: 200px;
	margin-top: -70px;
}
*/
/* Adjust height of mobile logo */
#sticky-navigation .navigation-branding img {
	height: 100px;
}
/* Mobile header */
@media (max-width: 768px) {
.header-widget {
	grid-template-columns: 30% auto;
	grid-template-rows: 100px auto;
	grid-template-areas:
	"logo logo-text . ."
	"social phone navbar navbar";
}
 .header-widget aside:nth-child(3) {
	justify-self: end;
	margin-right: 0;
	}
.header-widget aside:nth-child(5) {
	padding-right: 25px;
	text-align: left;
}
/* Header padding */
.inside-header {
	padding: 0;
}
/* Adjust hert font size */
.hero-title {
	font-size: 4vw;
}
.hero-subtitle {
	font-size: 3vw;
}
/*
.menu-main {
	display: block;
}
a.toggle-nav {
    padding: 15px;
    margin: 15px;
    display: inline-block !important;
    color: #8D7F68;
    color: #fff;
    transition: color linear 0.15s;
}
.toggle-nav:hover, .toggle-nav.active {
    text-decoration: none;
    color: #8D7F68;
} 
*/
/* Turn the navbar back on for mobile */
/*
#site-navigation {
	display: block;
	}
*/
/* Turn off nav widget */
/*
#menu-main {
	display: none;
	}
*/
.page-hero {
	margin-top: 0;
}
/* Mobile menu line height */
#site-navigation .main-nav ul li a {
    line-height: 30px;
	}
/* Adjust menu padding */
#menu-main {
	padding-left: 0;
}
/*
#site-navigation button.menu-toggle {
	height: 50px;
	}
*/
}
/*
.prec-home-grid .elementor-row {
    height: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
}
.prec-home-video .elementor-widget-wrap {
    grid-column: 1/2;
    grid-row: 1/3;}
.prec-home-video img .elementor-widget-wrap {
    object-fit: fill;
    height: 100%;}
.prec-home-result .elementor-widget-wrap {
    grid-column: 2/3;
    grid-row: 1/2;}
.prec-home-result img .elementor-widget-wrap {
    object-fit: fill;
    height: 100%;}
.prec-home-tools .elementor-widget-wrap {
    grid-column: 3/4;
    grid-row: 1/3;}
.prec-home-tools img .elementor-widget-wrap {
    object-fit: fill;
    height: 100%;}
.prec-home-text .elementor-widget-wrap {
    grid-column: 2/3;
    grid-row: 2/3;
	height: 100%;}
*/

